# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
.turbo

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode
.idea
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Test coverage
coverage
